services:
  main:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        GID: 501
    env_file: mfm.env
    user: "mfm:501"
    container_name: "mfm-${USER}"
    stdin_open: true
    tty: true
    volumes:
      - ./:/tf/code
      - ./data:/tf/data
    network_mode: host
    platform: linux/arm64 # ONLY INCLUDE THIS LINE IF YOU HAVE APPLE SILICON M1/M2
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: 1
    #           capabilities: [gpu]
